{% extends 'base.html' %}
{% load static %}
{% block title %} Agwiscart.com-checkout {% endblock %}
{% block body %}

    <div class="hero-wrap hero-bread" style="background-image: url('{% static 'images/bg_6.jpg' %}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Checkout</span></p>
            <h1 class="mb-0 bread">Checkout</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8 ftco-animate">
						<form action="{% url 'order_homepage' %}" method="POST" class="billing-form">
							{% csrf_token %}
							<h3 class="mb-4 billing-heading">Billing Details</h3>
	          	<div class="row align-items-end">
	          		<div class="col-md-6">
	                <div class="form-group">
	                	<label for="firstname">Firt Name</label>
	                  <input type="text" name="fname" class="form-control" placeholder="">
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label for="lastname">Last Name</label>
	                  <input type="text" name="lname" class="form-control" placeholder="">
	                </div>
                </div>
                <div class="w-100"></div>
		            <div class="col-md-12">
		            	<div class="form-group">
                            <label for="country">State</label>
                            <input type="text" name="state" class="form-control" placeholder="House number and street name">
	              
		            		
		            	</div>
		            </div>
		            <div class="w-100"></div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                	<label for="streetaddress">Street Address</label>
	                  <input type="text" name="add" class="form-control" placeholder="House number and street name">
	                </div>
		            </div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                  <input type="text" name="add2" class="form-control" placeholder="Appartment, suite, unit etc: (optional)">
	                </div>
		            </div>
		            <div class="w-100"></div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                	<label for="towncity">Town / City</label>
	                  <input type="text" name="city" class="form-control" placeholder="">
	                </div>
		            </div>
		            <div class="col-md-6">
		            	<div class="form-group">
		            		<label for="postcodezip">Postcode / ZIP *</label>
	                  <input type="text" name="zipc" class="form-control" placeholder="">
	                </div>
		            </div>
		            <div class="w-100"></div>
		            <div class="col-md-6">
	                <div class="form-group">
	                	<label for="phone">Phone</label>
	                  <input type="text" name="phone" class="form-control" placeholder="">
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label for="emailaddress">Email Address</label>
	                  <input type="text" name="mail" class="form-control" placeholder="">
	                </div>
                </div>
                <div class="w-100"></div>
                <!-- <div class="col-md-12">
                	<div class="form-group mt-4">
										<div class="radio">
										  <label class="mr-3"><input type="radio" name="optradio"> Create an Account? </label>
										  <label><input type="radio" name="optradio"> Ship to different address</label>
										</div>
									</div>
                </div> -->
	            </div>
	          <!-- END -->



	          <div class="row mt-5 pt-3 d-flex">
	          	<div class="col-md-6 d-flex">
	          		<div class="cart-detail cart-total bg-light p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Cart Total</h3>
	          			<p class="d-flex">
		    						<span>Subtotal</span>
		    					    <span id="totle" class="fa fa-rupee"></span></i>
		    					</p>
		    					<p class="d-flex">
		    						<span>Delivery</span>
		    						<span class="fa fa-rupee">0.00</span></i>
		    					</p>
		    					<p class="d-flex">
		    						<span>Discount</span>
		    						<span id="offer" class="text-success fa fa-rupee"></span>
		    					</p>
		    					<hr>
		    					<p class="d-flex total-price">
		    						<span>Total</span>
                                   <span id="grand_totle" class="fa fa-rupee">&nbsp; &nbsp; </span>
		    					</p>
								</div>
	          	</div>
	          	<div class="col-md-6">
	          		<div class="cart-detail bg-light p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Payment Method</h3>
								
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" value="cod" class="mr-2">Pay On Delivery</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" value="payple" class="mr-2"> Paypal</label>
											</div>
										</div>
									</div>
								
									<input type="hidden" name="amount" id="amount" value="0.00">
									<p><button type="submit" class="btn btn-primary py-3 px-4">Place an order</button></p>
                                </div>
                            </form>
	          	</div>
	          </div>
          </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->
<script>

    function grandtotle(){
		
        $.ajax({
            url: "{% url 'data' %}",
            type:"get",
            success:function(data){
              
              
              crt="{% if request.session %} {{request.session.totle_item}} {%else%}0{%endif%}"
              $("#cart").html(crt)
        
               
                desc =data.price-data.sell_price
                $("#totle").html(data.sell_price)
                $("#offer").html(desc)
				$("#grand_totle").html(data.sell_price)
				$('#amount').val($('#grand_totle').html())
              
            }
        });
    }
    grandtotle()
</script>
	{% endblock body%} 