{% extends 'base.html' %}
{% load static %}
{% block title %} cart {% endblock %}
{% block cartactive %}active{% endblock cartactive%}
{% block body %}


    <div class="hero-wrap hero-bread" style="background-image: url(() '{% static 'images/bg_6.jpg' %}'))">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Cart</span></p>
            <h1 class="mb-0 bread">My Cart</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center" id="s">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Product</th>
						        <th>Price</th>
						       
						        <th>Quantity</th>
						        <th>Total</th>
						      </tr>
						    </thead>
						    <tbody>
								{% for items in item %}
								<tr class="text-center" id="row{{items.id}}">
						
						<!-- <td class="product-remove"><a href="#" onclick="remove_item('{{ items.id }}')">
							<span class="ion-ios-close"></span></a></td> -->
							<td class="product-remove"><a href="#s" onclick="remove_item('{{ items.id }}')">
								<span  class="ion-ios-close"></span></a></td>
						{% for pr in items.product.productimages_set.all %}
							{% if forloop.first %}
						<td class="image-prod"><div class="img" style="background-image:url( '/media/{{ pr.image }}')">
							
						</div></td>
					   {% endif %}
					   {% endfor %}
						<td class="product-name">
							<h3>{{ items.product.brand_name}}</h3>
							<p id="prod-name">{{ items.product}}</p>
						</td>
					
					
							<td class="price">
								<del id="pp{{items.id}}">{{ items.product.price}}</del><br>
								
			
							<span id="sp{{items.id}}">{{ items.product.sell_price}}</span>
										</td>
				
						
						
						
						<td class="quantity">
							<div class="input-group mb-3">
								<i class="fa fa-minus mt-3 mr-2" onclick="chang_qnt('{{items.id}}','minus')"></i>
							
								<input type="text" id="qnt{{items.id}}" name="quantity" class="form-control quantity form-control input-number"
								 value="{{ items.quantity}}" min="1" max="100">
								<i class="fa fa-plus mt-3 ml-2" onclick="chang_qnt('{{items.id}}','plus')"></i>
						  </div>
					  </td>
					 
						<td class="total t{{items.id}}" id="line_totle">{{items.line_totle}}</td>
					  </tr>
					  {% endfor %}
					  <!-- END TR-->
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-center">
    			<div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
    						<span id="totle"></span>
    					</p>
    					<p class="d-flex">
    						<span>Delivery</span>
    						<span>$0.00</span>
    					</p>
    					<p class="d-flex">
    						<span>Discount</span>
    						<span id="offer" class="text-success"></span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						<span id="grand_totle"></span>
    					</p>
    				</div>
    				<p class="text-center"><a href="checkout.html" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
    			</div>
    		</div>
			</div>

  <script>
	  function grandtotle(){
		
		  $.ajax({
			  url: "{% url 'data' %}",
			  type:"get",
			  success:function(data){
				
				
				crt="{% if request.session %} {{request.session.totle_item}} {%else%}0{%endif%}"
				$("#cart").html(crt)
          
				 
				  desc =data.price-data.sell_price
				  $("#totle").html(data.sell_price)
				  $("#offer").html(desc)
				  $("#grand_totle").html(data.sell_price)
				
			  }
		  });
	  }
	  grandtotle()
	  function chang_qnt(id,action){
		let old= $("#qnt"+id).val();
		if(old==0){
			remove_item(id)
		}
		q=0
		if(action=="plus"){
			q+=parseInt(old)+1;
			grandtotle()
		}else{
			q+=parseInt(old)-1;
			grandtotle()
		}
		$('#qnt'+id).val(q);
		quantity=$('#qnt'+id).val();
		$.ajax({
			url: "{% url 'change_qnt' %}",
			type:"get",
			data:{cid:id,quantity:quantity},
			success:function(data){
				//alert(data);
				grandtotle()
				if(data.quantity==0){
					remove_item(id)
				}
				$("#pp"+id).html(data.price)
				$("#sp"+id).html(data.sell_price)
			}
		});
	  }
	  function remove_item(id){
		$.ajax({
			url: "{% url 'change_qnt' %}",
			type:"get",
			data: {delete_cart:id},
			success:function(data){
				grandtotle()
				$("#row"+id).hide()
				
				
			}
		})
	  }
	</script>
	{% endblock body%} 
